.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  margin-right: 10px;
}

body {
  background-color: black;
  color: white;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Lato, Arial;
  font-size: 24px;
  margin-bottom: 120px;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 15px;
}

.back-text:hover {
  color: rgb(180,180,180);
}

.back a {
  color: white;
  text-decoration: none;
}

.title {
  margin-right: 15px;
}

.text {
  width: 400px;
  text-align: center;
}

main p {
  font-family: Open Sans, Arial;
}

.case {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  font-size: 36px;
}

#more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-right: 30px;
  margin-left: 30px;
}

#more:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
}

.img-more {
  height: 36px;
  margin-right: 10px;
}

.text-more {
  font-size: 36px;
}

#images-more {
  display: grid;
  grid-template-columns: 620px 620px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 30px;
  
}

#images-more img{
  width: 100%;
}
