.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  margin-right: 10px;
}

body {
  background-color: black;
  color: white;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Lato, Arial;
  font-size: 24px;
  margin-bottom: 120px;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 15px;
}

.back-text:hover {
  color: rgb(180,180,180);
}

.back a {
  color: white;
  text-decoration: none;
}

.title {
  margin-right: 15px;
}

.phone,
.mail,
.geo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

.mail:hover{
  background-color: rgb(30,30,30);
  cursor: pointer;
}

.phone:hover{
  background-color: rgb(30,30,30);
  cursor: pointer;
}

.geo:hover{
  background-color: rgb(30,30,30);
  cursor: pointer;
}

.phone a{
  color: white;
  text-decoration: none;
}
.mail a{
  color: white;
  text-decoration: none;
}
.geo a{
  color: white;
  text-decoration: none;
}

.contacts{
  font-family: Open Sans, Arial;
  font-size: 20px;
}

.contacts p{
  margin-left: 50px;
}

.other {
  margin-left: -50px;
  color:rgb(180,180,180);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 100px;
}

.map {
  margin-right: 40px;
}

p::selection{
  background-color: transparent;
}
img::selection{
  background-color: transparent;
}