.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-center {
  display: flex;
  max-width: 550px;

}

.tweet-header-text {
  font-size: 40px;
  margin-top: 0px;
}

.header-left {
  margin-right: 200px;
}

.input-header {
  height: 45px;
  width: 400px;
  padding-left: 50px;
  vertical-align: top;
  border: None;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  background-color: rgb(245, 245, 245);
  transition: background-color 0.15s;
  flex: 1;
}

.input-header:hover {
  background-color: rgb(240, 240, 240);
}

.button-header {
  height: 47px;
  width: 70px;
  border: None; 
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;  
  background-color: rgb(230, 230, 230);
  padding-right: 10px;
  transition: background-color 0.15s;
}

.button-header:hover {
  background-color: rgb(210, 210, 210);
}

.image-button-header {
  height: 20px;
}

.main-grid {
  display: grid;
  grid-template-columns: 700px;
  row-gap: 20px;
  margin-left: 325px;
}

.tweet-stats {
  display: flex;
  width: 700px;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin-bottom: 40px;

}

.tweet-stats:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-tweet-stats {
  height: 20px;
  border: None;
  border-radius: 36px;
  margin-top: 10px;
  margin-right: 15px;
  color: white;
  background-color: rgb(15, 159, 255);
}

.text-tweet-stats {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.notifications-tweet-stats,
.messages-tweet-stats,
.home-tweet-stats {
  display: grid ;
  grid-template-columns: 650px 50px;
  transition: background-color 0.15s;
}

.notifications-tweet-stats:hover {
  background-color: rgb(240, 240, 240);
}  
.messages-tweet-stats:hover {
  background-color: rgb(240, 240, 240);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.home-tweet-stats:hover {
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.tweet {
  display: grid;
  grid-template-columns: 60px 1fr 90px;
  column-gap: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-bottom: 7px;
  border-radius: 7px;
  transition: box-shadow 0.15s;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tweet-post-author-photo {
  width: 100%;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
}

.tweet-post-text {
  margin-top: 0px;
}

.tweet-post-button {
  height: 40px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  border: None;
  border-radius: 36px;
  color: white;
  font-weight: 700;
  background-color: rgb(15, 159, 255);
  cursor: pointer;
  transition: box-shadow 0.15s;
  transition: background-color 0.15s;
}

.tweet-post-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.tweet-post-button:active {
  box-shadow: none;
  background-color: rgb(10, 154, 250);
}

.new-friend {
  font-size: 50px;
  margin-top: 0px;
  
}

.tweet-invite-friend {
  display: grid;
  grid-template-columns: 340px 340px;
  column-gap: 20px;
  row-gap: 20px;
}

.tweet-invite {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: box-shadow 0.15s;
}

.tweet-invite:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tweet-invite-author-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.tweet-invite-main {
margin-left: 115px;

}

.tweet-invite-button {
  width: 100%;
  height: 30px;
  border: 1px;
  border-color: rgb(15, 159, 255);
  border-style: solid;
  color: rgb(15, 159, 255);
  font-weight:700;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  transition: border 0.15s;
  transition: background-color 0.15s;
  Transition: color 0.15s;
}

.tweet-invite-button:hover {
  border: None;
  background-color: rgb(15, 159, 255);
  color: white;
}

.tweet-invite-stats {
  color: rgb(180, 180, 180);
}

.input-after-tweet {
  background-color: white;
  width: 0px;
  height: 0px;
  border: None
}

.user-photo {
  height: 40px;
  width: 40px;
  border-radius: 36px;
  margin-right: 20px;
}

.user-photo:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.user-photo:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.href {
  text-decoration: None;
  color: black;
  cursor: auto;
}

.href:active {
  color: black;
}